.container-fluid.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/1600x900/?sailor');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

h1 {
    text-transform: uppercase;
    color: white;
}
div.container h2 {
    font-weight: 700;
    color: white;
}

div.container p {
    color: white;
    line-height: 2;
}

.container-fluid#about {
    height: auto;
}

#inshort {
    background-color: white;
    padding: 2rem;
    /* width: 500px; */
}

.container-fluid#about h2 {
    color: black;
}
.container-fluid#about p {
    font-size: 20px;
    color: black;
    line-height: 2;
}

span {
    width: 20px;
    border-bottom: 2px solid grey;
}

iframe {
    border-style: none;
}

div#random p {
    color: black;
    line-height: 2;
}

div#discover p {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        text-align: center;
    }
}